extends layout

block content
    article
        header
            h1!= post.title
            p.meta Posted: !{ utl.prettyDate(post.publish_date,"mmmm d, yyyy") }
        .addthis_sharing_toolbox
        section.article-body!= postBody
        if post.tags
            aside
                for tag in post.tags
                    a(href="/blog/tags/" + tag).label.label-info!= tag
