doctype
html
    head
        block title
            title Blog of Christopher Vachon
        link(rel="stylesheet", href='/includes/css/cmv-express.min.css')
        meta(name="viewport",content="width=device-width, initial-scale=1")
    body
        block content
            h1 Oops! No content...
