<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navmenu" ng-if="isLoggedIn()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Administrator</a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="navmenu" ng-if="isLoggedIn()">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in navItems" ng-class="{'active': isActiveMenu('{{item.path}}')}"><a ng-href="#/{{item.path}}">{{item.label}}</a></li>
                <li class="dropdown">
                    <a href='' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="#/users/{{getActiveUserId()}}">View Profile</a></li>
                        <li><a ng-href="#/users/{{getActiveUserId()}}/edit">Edit Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="#/logout">Logout</a></li>
                    </ul>
                 </li>
             </ul>
        </div>
    </div>
</nav>
